---
- name: install zabbix repo key
  rpm_key: key=http://repo.zabbix.com/RPM-GPG-KEY-ZABBIX state=present
  when: ansible_os_family == 'RedHat'

- name: check zabbix repo existence
  stat: path=/etc/yum.repos.d/zabbix.repo
  register: zabbix_repo
  when: ansible_os_family == 'RedHat'

- name: bootstrap zabbix repo
  template: src=zabbix.repo.j2 dest=/etc/yum.repos.d/zabbix-bootstrap.repo owner=root group=root mode=0644
  when: ansible_os_family == 'RedHat' and zabbix_repo.stat.exists == false

- name: install zabbix-release
  yum: pkg=zabbix-release state=latest
  when: ansible_os_family == 'RedHat'

- name: remove bootstrap zabbix file
  file: path=/etc/yum.repos.d/zabbix-bootstrap.repo state=absent

- name: create zabbix group
  group: name=zabbix gid=130 state=present

- name: create zabbix user
  user: name=zabbix uid=130 group=zabbix comment="Zabbix Monitoring System" home=/var/lib/zabbix shell=/sbin/nologin state=present

- name: enable selinux
  selinux: policy=targeted state=enforcing

- name: initialize database
  include: db.yml
  when: zabbix_server_install == true or zabbix_proxy_install == true

- name: setup zabbix server
  include: server.yml
  when: zabbix_server_install == true

- name: setup zabbix proxy
  include: proxy.yml
  when: zabbix_proxy_install == true

- name: setup zabbix frontend
  include: frontend.yml
  when: zabbix_frontend_install == true

- name: setup zabbix agent
  include: agent.yml
  when: zabbix_agent_install == true
